.sk-cube-outer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
  margin: 30px auto;
  width: 120px;
  height: 120px;
  .sk-cube {
    background-color: rgba(#fff, .6);
    animation: skCubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube1 {
    animation-delay: 0.2s;
  }

  .sk-cube2 {
    animation-delay: 0.3s;
  }

  .sk-cube3 {
    animation-delay: 0.4s;
  }

  .sk-cube4 {
    animation-delay: 0.1s;
  }

  .sk-cube5 {
    animation-delay: 0.2s;
  }

  .sk-cube6 {
    animation-delay: 0.3s;
  }

  .sk-cube7 {
    animation-delay: 0s;
  }

  .sk-cube8 {
    animation-delay: 0.1s;
  }

  .sk-cube9 {
    animation-delay: 0.2s;
  }
}
@keyframes skCubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
