.add {
  width: 100%;
  min-height: calc(100vh - 77px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .error-msg {
    color: red;
    font-size: 14px;
  }

  &__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;

    &-inner {
      max-width: 360px;
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        max-height: 520px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  &__form {
    background: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
      padding: 30px 15px;
      max-width: 360px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-title {
      color: #000;
      font-family: "Arial Black", Helvetica, sans-serif;
      font-weight: 900;
      font-size: 36px;
      margin-bottom: 10px;
    }

    &-desc {
      color: #000;
      font-size: 13px;
      font-family: $rob;
      margin-bottom: 20px;
      &.link {
        color: #549ff9;
      }
    }

    &-inputbox {
      width: 100%;
      height: 46px;
      margin-bottom: 17px;

      &--textarea {
        height: 82px;

        textarea {
          resize: none;
        }
      }

      textarea,
      input,
      select {
        border-radius: 10px;
        font-size: 14px;
        line-height: 16px;
        padding: 15px 29px;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #b4b4bb;

        &:focus {
          outline: none;
          border-color: #c9ac8c;
        }

        &::placeholder {
          color: #aaaaaa;
          font-size: 14px;
          text-transform: capitalize;
        }
      }
    }

    &-btn {
      margin-top: 17px;
      height: 46px;
      border-radius: 23px;
      color: #fff;
      font-family: $rob900;
      letter-spacing: 1px;
      background: #152540;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #152540;
      transition: all 0.3s linear;
      cursor: pointer;
      &:focus,
      &:hover {
        outline: none;
        background: #fff;
        color: #152540;
      }
    }
  }
}

@media (max-width: 767px) {
  .add {
    &__form,
    &__img {
      padding-top: 50px;
      padding-bottom: 30px;
      width: 100%;
      flex: initial;
    }
    &__img {
      padding-top: 30px;
      padding-bottom: 50px;
      order: 1;
      width: 100%;
      flex: initial;
    }
  }
}

.linear-activity {
  overflow: hidden;
  width: 100%;
  height: 6px;
  margin-bottom: 10px;
  background-color: lightcoral;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: orange;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: orangered;
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
