.books {
  padding: 0 0 100px 0;
  &-title {
    color: $text-primary;
    font-size: 31px;
    font-family: $rotter;
    text-align: center;
    margin-bottom: 20px;
  }

  &-single {
    padding: 50px 0;

    &__wrapper {
      padding: 15px;
      display: flex;
    }

    &__img {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-right: 50px;
      margin-bottom: 30px;
    }

    ul,
    ol,
    li {
      margin: 0;
      padding: 3px 5px;
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    &-btn {
      text-align: center;
      border: none;
      outline: none;
      background: transparent;
      padding: 10px;
      font-size: 20px;
      color: $text-color;
      transition: 0.3s linear;
      cursor: pointer;
      margin-left: 25px;
      margin-right: 25px;

      &:hover,
      &.active {
        color: $text-primary;
      }
    }
  }

  &__wrapper {
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    &-item {
      border-radius: 10px;
      overflow: hidden;
      display: block;
      // max-width: 300px;
      max-width: 175px;
      width: 100%;
      overflow: hidden;
      padding: 5px;
      margin: 0 10px 50px 10px;
      transition: all 0.3s linear;
      &:hover {
        box-shadow: 0 5px 5px rgba(#fff, 0.2);
      }

      .img {
        width: 100%;
        height: 245px;
        // height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        padding-top: 17px;
        color: $text-color;
      }

      .footer {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .btn {
          height: initial;
          line-height: 1;
          font-size: 12px;
          padding: 10px !important;
          border-radius: 4px;
          border: none;
          text-transform: capitalize !important;

          &-delete {
            background: lightsalmon;

            &:active {
              background: darken(lightsalmon, 5%);
            }

            &:focus,
            &:hover {
              outline: none;
              background: lighten(lightsalmon, 5%);
            }
          }

          &-open {
            background: lightgrey;

            &:active {
              background: darken(lightgrey, 5%);
            }

            &:focus,
            &:hover {
              outline: none;
              background: lighten(lightgrey, 5%);
            }
          }

          &-edit {
            background: lightseagreen;

            &:active {
              background: darken(lightseagreen, 5%);
            }

            &:focus,
            &:hover {
              outline: none;
              background: lighten(lightseagreen, 5%);
            }
          }
        }
      }

      .name {
        font-family: $rotter;
        color: $text-primary;
        font-weight: 100;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 5px;
      }

      .author {
        margin: 0;
        color: $text-white;
        font-size: 14px;
        margin-bottom: 5px;

        svg {
          color: $text-color;
          font-size: 16px;
          margin-right: 5px;
        }
      }

      .icon-text {
        margin: 2px 0;
        display: flex;
        align-items: center;
        color: $text-color;
        font-weight: 100;
        font-size: 12px;
        svg {
          color: $text-color;
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }

  &__bookshelf {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
  }
}

@media (max-width: 400px) {
  .books {
    &-single {
      &__wrapper {
        flex-direction: column;
      }
      &__img {
        max-width: 100%;
        margin-right: 0px;
      }
    }
  }
}
