.books {
  padding: 0;
  &-title {
    color: $text-primary;
    font-size: 31px;
    font-family: $rotter;
    text-align: center;
    margin-bottom: 20px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    &-btn {
      text-align: center;
      border: none;
      outline: none;
      background: transparent;
      padding: 10px;
      font-size: 20px;
      color: $text-color;
      transition: 0.3s linear;
      cursor: pointer;
      margin-left: 25px;
      margin-right: 25px;

      &:hover,
      &.active {
        color: $text-primary;
      }
    }
  }

  &__wrapper {
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    &-item {
      border-radius: 10px;
      overflow: hidden;
      display: block;
      // max-width: 300px;
      max-width: 175px;
      width: 100%;
      overflow: hidden;
      padding: 5px;
      margin: 0 10px 50px 10px;
      transition: all 0.3s linear;
      &:hover {
        box-shadow: 0 5px 5px rgba(#fff, 0.2);
      }

      .img {
        width: 100%;
        height: 245px;
        // height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        padding-top: 17px;
        color: $text-color;

        ul {
          li {
          }
        }
      }

      .footer {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .btn {
          height: initial;
          line-height: 1;
          font-size: 12px;
          padding: 10px !important;
          border-radius: 4px;
          border: none;

          &-delete {
            background: lightsalmon;

            &:active {
              background: darken(lightsalmon, 5%);
            }

            &:focus,
            &:hover {
              outline: none;
              background: lighten(lightsalmon, 5%);
            }
          }

          &-open {
            background: lightgrey;

            &:active {
              background: darken(lightgrey, 5%);
            }

            &:focus,
            &:hover {
              outline: none;
              background: lighten(lightgrey, 5%);
            }
          }

          &-edit {
            background: lightseagreen;

            &:active {
              background: darken(lightseagreen, 5%);
            }

            &:focus,
            &:hover {
              outline: none;
              background: lighten(lightseagreen, 5%);
            }
          }
        }
      }

      .name {
        font-family: $rotter;
        color: $text-primary;
        font-weight: 100;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 5px;
      }

      .author {
        margin: 0;
        color: $text-color;
        font-size: 12px;
        margin-bottom: 5px;
      }

      .books {
        margin: 0;
        display: flex;
        align-items: center;
        color: $text-color;
        svg {
          color: $text-white;
          font-size: 16px;
          margin-right: 5px;
        }
        font-weight: 100;
        color: $text-color;
        font-size: 12px;
      }
    }
  }

  &__bookshelf {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
  }
}

@media (max-width: 440px) {
  .authors {
    &__filter {
      &-btn {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    &__wrapper {
      padding-bottom: 50px;

      &-item {
        max-width: 100%;

        .card-img {
          height: 200px;
        }

        .card-body {
          background-repeat: no-repeat;
          background-image: url("../images/card-bg.svg"),
            url("../images/card-bg2.svg");
          background-size: 124px 124px, 40px;
          background-position: 150% -62px, 0% 100%;
          background-origin: padding-box;
          display: flex;
          flex-direction: column;
          padding: 8px 20px 20px;
          text-align: center;
        }

        .name {
          color: $text-primary;
          font-weight: 100;
          font-size: 18px;
          text-transform: capitalize;
          margin-bottom: 4px;
        }

        .year {
          color: $text-color;
          font-size: 12px;
          margin-bottom: 10px;
        }

        .books {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            font-size: 22px;
            margin-right: 3px;

            &:last-child {
              margin-left: 5px;
            }
          }
          font-size: 16px;
          color: $text-white;
        }
      }
    }
  }
}
