.navbar {
    position: relative;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid rgba(#fff, .1);

    & > .auto-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 150px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 25px;
        font-family: $rotter;
        color: $text-primary;
        transition: all .3s linear;

        &:hover {
            text-shadow: 0 0 2px $text-white;
        }
    }

    &__nav {
        padding-top: 18px;
        display: flex;
        list-style: none;

        &-link {
            position: relative;
            padding: 10px 10px 28px 10px;
            color: $text-white;
            border-bottom: 2px solid transparent;
            transition: all .3s linear;            

            &:not(:last-child) {
                margin-right: 23px;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background: $text-white;
                transition: all .3s linear;
            }

            &:not(.active):hover {
                color: $text-primary;

                &::after {
                    background: $text-primary!important;
                }
            }
            
            &:hover,
            &.active {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    // &__auth {
    //     max-width: 150px;
    //     width: 100%;
    //     display: flex;
    //     justify-content: flex-end;
    // }

    &__user {
        position: relative;
        max-width: 150px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        &-title {
            height: 100%;
            // padding-top: 17px;
            // padding-bottom: 17px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // background: red;
            &:hover {
                
                
                & + .navbar__user-dropdown {
                    display: flex;
                    animation: LeftToRight .5s linear forwards;
                }
                svg {
                    color: $text-primary;
                }
            }
        }

        &-dropdown {
            position: absolute;
            right: 0;
            top: 100%;
            display: none;
            // display: flex;
            flex-direction: column;
            padding: 15px;
            background: lighten($bg-site, 10%);
        
            &:hover {
                display: flex;
                animation: LeftToRight .5s linear forwards;
            }

            & > * {
                text-align: right;
                display: block;
                
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }

        &-img {
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
            object-position: center center;
        }

        &-link {
            font-size: 16px;
            cursor: pointer;
            color: $text-white;
            transition: all .3s linear;            
            // &:nth-child(2) {
            //     padding-left: 10px;
            //     border-left: 1px solid $text-white;
            //     margin-left: 10px;
            // }
            &:hover {
                color: $text-primary;
            }
        }
    }

    &__toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar {
        position: relative;
        z-index: 10;
        
        
        &__logo {
            width: initial;
            display: flex;align-items: center;
            margin-top: 7px;
        }
        
        &__nav {
            display: flex;
            position: fixed;
            left: -100%;
            opacity: 0;
            top: 50px;
            padding: 30px 15px;
            flex-direction: column;
            background: $bg-site;
            width: 100%;
            height: 100vh;
            transition: all .3s linear;
            
            &.open {
                left: 0;
                opacity: 1;
            }

            &-link {
                padding: 10px;
                margin: 0 0 20px 0!important;
            }
        }
    
        &__auth {
            margin-left: auto;
        }
        &__user {
            margin-left: auto;
        }
    
        &__toggle {
            margin-left: 15px;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                .navbar__toggle-icon {
                    background: $text-primary;
                    &::after,
                    &::before {
                        background: $text-primary;
                        width: 100%;
                    }
                }
            }
            
            &-icon {
                display: block;
                position: relative;
                width: 100%;
                height: 3px;
                background: #fff;
                transition: all .3s linear;
            
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -10px;
                    height: 3px;
                    width: 80%;
                    background: #fff;
                    transition: all .3s linear;
                }

                &::after {
                    top: 10px;
                    width: 50%;
                }
            }
        }
    }
    
}

@keyframes LeftToRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes navOpen {
    from {
        opacity: 0;
        left: -100%;
    } 
    to {
        opacity: 1;
        left: 0;
    }
}

