$rob: "Roboto";
$rob700: "Roboto Bold";
$rob900: "Roboto Black";
$rotter: "Rotterburg Stylish FREE";

$primary: #c9ac8c;
$text-color: rgba(#fff, 0.6);
$text-primary: #c9ac8c;
$text-white: #fff;

$bg-site: #191919;
